version: "3.9"

services:
  backend:
    build: ./backend
    container_name: dpi_backend
    ports:
      - "4000:4000"
    restart: unless-stopped

  dashboard:
    build: ./dashboard
    container_name: dpi_dashboard
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped